:root {
}

.menuRegularButton {
    width: 320px;
    height: 70px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.menuRegularButton:hover {
    scale: 1.05 1.05;
    transition-duration: 0.4s;
}
